<ul class="stream">
  <% requests.each do |request| %>
    <li>
      <p>
        <%= request.created_at.in_time_zone(NotableWeb.time_zone).strftime("#{request.created_at < 24.hours.ago ? "%b %-e, " : nil}%-l:%M %P") %>
        <span style="color: #999;"><%= request.status %></span>
        <strong><%= request.note_type %></strong>
<!--         <% if request.note_type == "Not Found" %>
          /<%= request.url.sub(/https?:\/\//i, "").split("/", 2).last %>
        <% end %> -->
        <%= request.note %>
        <span style="color: #999;"><%= request.action %></span>
        <% if request.user and show_user %>
          <%= link_to NotableWeb.user_name_method.call(request.user), params.slice(:status, :note_type, :scope).merge(user_id: request.user_id, user_type: request.user_type) %>
        <% end %>
        <% if params[:scope] == "referrer" %>
          <br /><%= link_to nil, request.referrer, target: "_blank" %>
        <% end %>
      </p>

      <div class="more">
        <%= link_to nil, request.url, target: "_blank" %><br />
        <% if request.referrer.present? %>
          from <%= link_to nil, request.referrer, target: "_blank" %><br />
        <% end %>
        <%= request.ip %><br />
        <%= request.user_agent %><br />
        <%= request.request_id %><br />
        <%= request.request_time.round(3) %>
      </div>
    </li>
  <% end %>
</ul>
