<!DOCTYPE html>
<html>
  <head>
    <title>Notable</title>

    <meta charset="utf-8" />

	<%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'notable' %>
  </head>
  <body>
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
		  <ul class="nav navbar-nav">
			<li><%= link_to "Stream", root_path %></li>
			<li><%= link_to "Slow Requests", root_path(scope: "slow_requests") %></li>
			<li><%= link_to "Timeouts", root_path(note_type: "Timeout") %></li>
			<li><%= link_to "Not Found", root_path(note_type: "Not Found") %></li>
			<li><%= link_to "Errors", root_path(note_type: "Error") %></li>
			<li><%= link_to "Validation Errors", root_path(note_type: "Validation Errors") %></li>
			<li><%= link_to "Unpermitted Parameters", root_path(note_type: "Unpermitted Parameters") %></li>
			<li><%= link_to "Unverified Request", root_path(note_type: "Unverified Request") %></li>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Slow Actions", slow_actions_path %></li>
		  </ul>
		  <form class="navbar-form" method="get" action="<%= root_path %>">
			<!-- <%= select_tag :user_type, options_for_select([["User", "User"]]) %> -->
			<%= hidden_field_tag :user_type, "User" %>
			<%= text_field_tag :user_id, nil, class: "form-control", placeholder: 'User' %>
			<input class="form-control" type="submit" value="Go" />
		  </form>
		  <%= yield %>
	  </div>
	</nav>
  </body>
</html>
